* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color:rgb(43, 61, 61);
}

.header {
    padding: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blue;
    color: cornsilk;
    font-size: 150%;
}

.header h1 {
    display:inline-block;
    font-size: 250%;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
 .header div ul li {
     display: inline-block;
     margin-left: 25px;
 }

 a{
     color:darkgrey;
     text-decoration: none;
 }

 .info {
     height: 500px;
     width: 100%;
     margin-bottom: 25px;
     background-image: url("brickwall.jpg");
     background-size: cover;
     background-position: center;
 }

 .info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 150px;
    max-width: 100%;
    height: auto;
  }
  /*
 .info img {
     padding-top: 150px;
 }
 */

 p {
     color: floralwhite;
     font-size: x-large;
     margin-left: 33%;
     margin-right: 2%;
 }

 .project1:hover {
    color: red;
 }
 .project2:hover {
     background-color: khaki;
 }
 .project3:hover {
     background-color: purple;
 }
 .project4:hover {
     background-color: yellow;
 }
 .project5:hover {
     background-color: green;
 }

 .project1 {
     width: 66%;
     display: block;
     margin: 2%;
     background-image: url("HSS\ site\ screenshot.jpeg");
     color:navy;
     height: 300px;
     padding: 4%;
     text-align: center;
     float: right;
     border: 2px solid navy;
 }

.project2 {
    width: 33%;
    display: block;
    margin: 2%;
    background-color: grey;
    color: navy;
    height: 50%;
    padding: 4%;
    text-align: center;
    float: right;
    border: 1px solid navy;
     }

.project3 {
    width: 33%;
    display: block;
    margin: 2%;
    background-color: grey;
    color: navy;
    height: 50%;
    padding: 4%;
    text-align: center;
    float: right;
    border: 1px solid navy;
    }

.project4 {
    width: 33%;
    display: block;
    margin: 2%;
    background-color: grey;
    color: navy;
    height: 50%;
    padding: 4%;
    text-align: center;
    float: right;
    border: 1px solid navy;
    }

.project5 {
    width: 33%;
    display: block;
    margin: 2%;
    background-color: grey;
    color: navy;
    height: 50%;
    padding: 4%;
    text-align: center;
    float: right;
    border: 1px solid navy;
    }

 

 h2 {
   font-size: 300%;
 }

 h3 {
    margin-left: 2%;
    padding: 20px;
    float: left;
    width: 20%;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blue;
    color: darkgrey;
    text-align: center;
}


.footer {
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: navy;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}

.footer a {
    color: navy;
}

.bottom2 {
    margin-right: 360px;
}


@media screen and (max-width:
1020px) {/*Large Desktop*/}

@media screen and (max-width:
780px) {/*tablet*/}

@media screen and (max-width: 
480px) {/*mobile*/}



